@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:  #000000 !important;
}
Button {
    background-color: #008b8b  !important;
}
ModalContent {
     background-color: #000000 !important;
}

/*<ModalContent backgroundcolor={"black"}>*/